<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="/public/dist/output.css">
<link rel="stylesheet" href="/public/dist/style2.css">
<!-- <link rel="stylesheet" href="/public/css/index.css">
<link rel="stylesheet" href="/public/css/navbar.css"> -->

<body class="bg-gray-200" style="font-family: Comic sans ms;">
    <div id="navbar" class="bg-gray-100 text-xl">
        <nav class=" flex flex-row gap-4 mx-8 justify-between items-center relative">
            <div id="nav-left" class="flex items-center">
                <img src="/public/assets/logo.png" class="m-2 pr-2">
                <div class="hidden flex-row items-center sm:flex">
                    <a href="/" class="p-3 hover:bg-blue-500 hover:text-white transition-all">Home</a>
                    <a href="/myProject" class="p-3 hover:bg-blue-500 hover:text-white transition-all">Add Project</a>
                    <!-- <a href="./testimonial.html" class="p-3 hover:bg-blue-500 hover:text-white transition-all">Testimonial</a> -->
                </div>
            </div>
            <div id="nav-right" class="flex p-2 gap-2">
                <div class="hidden sm:flex">
                    <a href="/contactMe"
                        class="bg-black text-white rounded-xl px-2 py-1 hover:bg-blue-500 transition-all">Contact Me</a>
                </div>
                <div id="burger" class="flex-col justify-center flex sm:hidden">
                    <button id="toggle-button" class="flex flex-col gap-1.5">
                        <span class="h-1 w-7 bg-white rounded"></span>
                        <span class="h-1 w-7 bg-white rounded"></span>
                        <span class="h-1 w-7 bg-white rounded"></span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div id="nav-down" class="mobileNav flex flex-col text-center justify-center bg-gray-300  sm:hidden shadow-lg">
        <a href="/" class="py-2 hover:bg-blue-500 hover:text-white transition-all">Home</a>
        <a href="/myProject" class="py-2 hover:bg-blue-500 hover:text-white transition-all">My Project</a>
        <!-- <a href="./testimonial.html" class="py-2 hover:bg-blue-500 hover:text-white transition-all">Testimonial</a> -->
        <a href="/contactMe" class="py-2 hover:bg-blue-500 hover:text-white transition-all">Contact Me</a>
    </div>

    <div class="lalala flex flex-col m-[5%] p-4">
        <center>
            <h1 class="text-3xl my-10">{{.Project.Title}}</h1>
        </center>
        <div class="content flex flex-col">
            <div class="coba flex justify-evenly items-center flex-col lg:flex-row">
                <div class="left">
                    <img src="{{.Project.Img}}" alt="content" id="content"
                        class="imgContent object-cover w-[550px] sm:w-[550px]">
                </div>
                <div class="right flex flex-col justify-between lg:flex-col lg:px-10">
                    <div class="right-top flex flex-col mb-10">
                        <label for="duration" class="label-right text-xl font-semibold">Duration</label>
                        <div class="mid flex items-center my-4">
                            <img src="/public/assets/calendar.png" alt="logo" class="duration-logo w-11 mr-2">
                            <label for="duration" class="">{{.Project.Duration}}</label>
                        </div>
                        <div class="mid flex items-center my-4">
                            <img src="/public/assets/clock.png" alt="logo" class="duration-logo w-11 mr-2">
                            <label for="duration" class="">{{.Project.Postdate}}</label>
                        </div>
                    </div>
                    <div class="right-bot flex flex-col">
                        <label for="Technologies" class="label-right text-xl font-semibold">Technologies</label>
                        <div class="tech-area flex flex-wrap gap-3">
                            {{if .Project.React}}
                            <div class="mid flex items-center my-4">
                                <img src="/public/assets/react.png" alt="" class="tech-logo w-11 mr-2">
                                <label for="nodeCheckbox">React Js</label>
                            </div>
                            {{end}}
                            {{if .Project.Next}}
                            <div class="mid flex items-center my-4">
                                <img src="/public/assets/next.png" alt="" class="tech-logo w-11 mr-2">
                                <label for="nextCheckbox">Next Js</label>
                            </div> 
                            {{end}}
                            {{if .Project.Node}}
                            <div class="mid flex items-center my-4">
                                <img src="/public/assets/node.png" alt="" class="tech-logo w-11 mr-2">
                                <label for="reactCheckbox">Node Js</label>
                            </div>
                            {{end}}
                            {{if .Project.Typescript}}
                            <div class="mid flex items-center my-4">
                                <img src="/public/assets/typescript.png" alt="" class="tech-logo w-11 mr-2">
                                <label for="typescriptCheckbox">TypeScript</label>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="isi text-justify mx-[5%] sm:mx-[20px] mt-5">
                {{.Project.Description}}
                </p>
            </div>
        </div>
    </div>
</body>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="/public/js/navbar.js"></script>

</html>